/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body.root {
	font-family: Urbanist, sans-serif;

	background: $neu-900;
	color: $neu-100;
	stroke: $neu-100;

	padding: 0;
	margin: 0;
}

section {
	padding: $md;
	min-height: 100vh;
}

h1 {
	font-weight: $xbold;
	font-size: $xl3;
}
h2 {
	font-weight: $bold;
	font-size: $xl2;
}

h3 {
	font-weight: $normal;
	font-size: $xl;
}

a {
	text-decoration: underline;
	color: $neu-100;
	font-style: italic;
}