/* Variables and mixins declared here will be available in all other SCSS files */

$neu-900: rgb(17, 17, 26);
$neu-100: rgb(248, 248, 255);
$bra-pri: rgb(101, 173, 218);
$bra-sec: rgb(119, 125, 219);

$xs2: 0.354rem;
$xs: 0.5rem;
$sm: 0.707rem;
$md: 1rem;
$lg: 1.414rem;
$xl: 1.999rem;
$xl2: 2.827rem;
$xl3: 3.998rem;
$xl4: 5.653rem;
$xl5: 7.993rem;
$xl6: 11.302rem;
$xl7: 15.981rem;
$xl8: 22.597rem;
$xl9: 31.952rem;
$xl10: 45.18rem;
$xl11: 63.884rem;
$xl12: 90.332rem;
$xl13: 127.729rem;
$xl14: 180.61rem;
$xl15: 255.382rem;
$xl16: 361.11rem;

$xxlight: calc(300 * 0.354);
$xlight: calc(300 * 0.5);
$light: calc(300 * 0.707);
$normal: calc(300 * 1);
$bold: calc(300 * 1.414);
$xbold: calc(300 * 1.999);
$xxbold: calc(300 * 2.827);
